.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight,
.highlight .w {
  color: #d0d0d0;
}

.highlight .err {
  color: #151515;
  background-color: #ac4142;
}

.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #888;
}

.highlight .cp {
  color: #f4bf75;
}

.highlight .nt {
  color: #f4bf75;
}

.highlight .o,
.highlight .ow {
  color: #d0d0d0;
}

.highlight .p,
.highlight .pi {
  color: #d0d0d0;
}

.highlight .gi {
  color: #90a959;
}

.highlight .gd {
  color: #ac4142;
}

.highlight .gh {
  color: #6a9fb5;
  font-weight: bold;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: #aa759f;
}

.highlight .kc {
  color: #d28445;
}

.highlight .kt {
  color: #d28445;
}

.highlight .kd {
  color: #d28445;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: #90a959;
}

.highlight .sr {
  color: #75b5aa;
}

.highlight .si {
  color: #8f5536;
}

.highlight .se {
  color: #8f5536;
}

.highlight .nn {
  color: #f4bf75;
}

.highlight .nc {
  color: #f4bf75;
}

.highlight .no {
  color: #f4bf75;
}

.highlight .na {
  color: #6a9fb5;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color: #90a959;
}

.highlight .ss {
  color: #90a959;
}

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear-gradient(#2a2a29, #1c1c1c);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h4,
h5,
h6 {
  color: #e8e8e8;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;

}

a:hover {
  color: #ffeb9b;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url('../images/bullet.png');
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: Fira Code, Fira, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color: #efefef;
  font-size: 13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}

pre {
  padding: 8px 15px;
  background: #191919;
  border-radius: 2px;
  border: 1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
  overflow: auto;
  overflow-y: hidden;

}

pre code {
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

hr {
  clear: both;
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

section {
  max-width: 800px;
  padding: 30px 0px 50px 0px;
}

section #title {
  border: 0;
  outline: none;
  margin: 0 0 50px 0;
  padding: 0 0 5px 0;
}

section #title h1 {
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}

section #title p {
  color: #d7cfbe;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

section #title .credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}

section #title .credits.left {
  float: left;
}

section #title .credits.right {
  float: right;
}

@media print,
screen and (max-width: 720px) {
  #title .credits {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
  }

  #title .credits .left {
    float: none;
    display: block;
  }

  #title .credits .right {
    float: none;
    display: block;
  }
}


@media print,
screen and (max-width: 480px) {

  #header {
    margin-top: -20px;
  }

  section {
    margin-top: 40px;
  }

  nav {
    display: none;
  }
}
